.aui-expander-short-content[aria-hidden="true"],
.aui-expander-content[aria-hidden="true"],
.aui-expander-content[aria-expanded="true"] .aui-expander-ellipsis /* reveal-text pattern */ {
    display: none;
}

.aui-expander-content {
    height: 0;  /* Collapsed by default */
    overflow: hidden;
    position: relative;
}

.aui-expander-content[aria-expanded="true"] {
    height: auto;   /* Expanded by default */
}

.aui-expander-trigger {
    cursor: pointer;
}

/*ADG REVEAL TEXT PATTERN*/
a.aui-expander-trigger.aui-expander-reveal-text {
    background: #fff;
    bottom: 0;
/*    box-shadow: -10px 0 5px #fff;*/
    position: absolute;
    right: 0;
    text-decoration: none;
    padding-left: 10px;
}

.aui-expander-trigger.aui-expander-reveal-text:hover > span {
    text-decoration: underline;
}

.aui-expander-trigger.aui-expander-reveal-text:before {
    color: #333;
    content: "\2026\00a0";
}

.aui-expander-content[aria-expanded="true"] .aui-expander-trigger.aui-expander-reveal-text:before {
    display: none;  /* Hide the ellipsis when expanded */
}

.aui-expander-content[aria-expanded="true"] .aui-expander-trigger.aui-expander-reveal-text {
    position: relative;    
}
